<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspexam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>주석 comment</description>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@127.0.0.1:1521:xe</param-value>
  </context-param>
  
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>

	<jsp-config>	<!-- *.jsp(x), *(o) -->
		<jsp-property-group> 
			<url-pattern>/modinclude/*</url-pattern>
		<!-- <el-ignored></el-ignored> -->
		<!-- <page-encoding></page-encoding> -->
		<!-- <scripting-invalid></scripting-invalid> -->
		<!-- <is-xml></is-xml> --> 							<!--필요한 경우, 순서대로 쓰기-->
			<include-prelude>/modflag/header.jspf</include-prelude>
			<include-coda>/modflag/footer.jspf</include-coda>
		<!-- <deferred-syntax-allowed-as-literal></deferred-syntax-allowed-as-literal> -->
		<!-- <trim-directive-whitespaces></trim-directive-whitespaces> -->
		<!-- <default-content-type></default-content-type> -->
		<!-- <buffer></buffer> -->
		<!-- <error-on-undeclared-namespace></error-on-undeclared-namespace> --> 	<!--필요한 경우, 순서대로 쓰기-->
		</jsp-property-group>
		<!-- web.xml(배보서술자)에서 jsp파일의 디렉티브 관련 정보를 일괄적으로 위와 같이 환경설정해줄 수 있다. 이 때 각각의 태그들이 순서를 갖는다.
			설정환경에 따라 사용되지 않는 태그는 생략할 수 있으며, 설정에 필요한 사용되는 태그는, 반드시 순서에 맞게 작성해주어야 한다. -->
	</jsp-config>
	
	<error-page>
		<error-code>404</error-code>
		<location>/errorexam/errorpage/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorexam/errorpage/errorview.jsp</location>
	</error-page>
  	<error-page>
  		<exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
  		<location>/errorexam/errorpage/outOfError.jsp</location>
  	</error-page>
</web-app>


